html {
    cursor: url(../Imagens/mata_mosca.png) 30 30, auto;

}

body {
    background-image: url(../Imagens/bg.jpg);
    background-repeat: no-repeat;
}

.mosquito1 {
    width: 50px;
    height: 50px;
}

.mosquito2 {
    width: 70px;
    height: 70px;
}

.mosquito3 {
    width: 90px;
    height: 90px;
}

.ladoA {
    transform: scaleX(1); /* a imagem permanece como esta normalmente */
}

.ladoB {
    transform: scaleX(-1); /* para virar a imagem horizontalmente */
}

.painel {
    position: absolute;
    width: 190px;   
    padding: 10px;
    bottom: 0px;
    left: 0px;  /* para ficar colado no lado esquerdo da tela */
    border-top: 1px solid #fff;
    background-color: #fff;
    opacity: 0.7;
}

.vidas {
    float: left;
}

.cronometro {
    float: left;
    font-size: 20px;
    font-weight: bold;  /* para ficar em negrito */
}